<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/branding.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>Game Corner</title>
</head>
<body>
    <header>
      <div id="top">
      	<div id="left">
        	  <a href="/index">Home</a>
            <a href="/news">News</a>
            <a href="/corners">Corners</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
      	<div id="right">
          <a href="/login">Login</a>
          <a href="/signup">Signup</a>
        </div>
      </div>
    </header>
    <div id="welcome">
    	<div>Game Corner</div>
    </div>
    <div class="content">
    	<div>Hello! Welcome to Game Corner, we are a community of gamers, devlopers and explorers of our world. Want to learn more? Head over to our <a href="/about">about</a> page!</div>
    </div>
</body>
</html>
